body {
       margin: 0;
       background-image: url(../img/den.jpg);
	   background-size: cover;
       font-family: arial;
       font-weight: 400;
}


header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background); 
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #351334;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;

  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #351334;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
#box{
    height: 200px;
    width: 1000px;
    background-color:#351334;
    border-radius: 5px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#main{
    height: 400px;
    width: 450px;
    background-color:white;
    border-radius: 5px;
    position: absolute;
    top:50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
#loginform,#signupform{
    position: absolute;
    top:50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
#signupform{
    top:45%;
    left: 75%;
    visibility: hidden;
}
#loginform h1,#signupform h1{
    font-family: arial;
    font-size: 25px;
    color:#2c3e50;
}
#loginform input,#signupform input, #signupform select{
    height: 40px;
    width: 300px;
    border: 0px;
    outline: none;
    border-bottom: 1px solid black;
    margin: 5px;
}
#signupform #signupEmail, #signupform #signupMobile, 
#signupform #signupFname, #signupform #signupLname {
    height: 40px;
    width: 140px;
    border: 0px;
    outline: none;
    border-bottom: 1px solid black;
    margin: 5px;
}

#loginform button,#signupform button{
    height: 35px;
    width: 130px;
    background-color:#2c3e50;
    font-family: monospace;
    font-size: 16px;
    color:white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 175px;
}
#login_btn,#signup_btn{
    height: 35px;
    width: 120px;
    background-color:transparent;
    color:white;
    border:1px solid white;
    border-radius: 5px;
    outline: none;
    position: absolute;
    left: 75%;
    top:65%;
    transform: translate(-50%,-50%);
    transition: all .5s;
}
#signup_btn{
    left: 25%;
}
#login_btn:hover,#signup_btn:hover{
    background-color:white;
    color:#2c3e50;
    cursor: pointer;
}
#login_msg,#signup_msg{
    font-family: arial;
    font-size: 25px;
    color:white;
    position: absolute;
    top:35%;
    left: 75%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#signup_msg{
    left: 25%;
}
#a_forgot{
    text-decoration: none;
    color: #2c3e50;font-family: arial;

}
#a_forgot:hover{
    color: #2c3e50;
}

#loginform button:hover,#signupform button:hover{
    background-color:#2c3e50;
    color:white;
    cursor: pointer;
}
.logo img
	{
		width:102px;
		height: auto;
		float: right;
		
		
	}